ol {
    background-color: yellow;
}

ol li {
    font-size: 20px;
}

ol li:nth-child(odd){
    text-transform: uppercase;
}

ol li:nth-child(even) {
    color: green;
}

li.em {
    font-weight: bold;
}

h1, h2, h3 {
    color: red;
}

h1, h2, h3.em {
    font-size: 40px;
    border: solid 1px black;
}

ul li:nth-child(-n + 3) {
    color: blue;;
}

a:hover {
    font-weight: bold;
}

a[href = "https://pt.stackoverflow.com/"]:hover {
    color: orange;
}

a[href = "https://www.w3schools.com/"]:hover {
    color: green;
}

a[href = "https://developer.mozilla.org/pt-BR/"]:hover {
    color: black;
}

a[href = "https://devdocs.io/"]:hover {
    color: yellow;
}

a[href = "https://app.betrybe.com/"]:hover {
    color: green;
}