.super-mario {
    width: 200px;
    display: block;
  }
  
  .goomba {
    width: 100px;
  }
  
  .baloon {
  position: relative;
z-index: 1;
  top: -100px;
  left: 200px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 320px;
    left: 330px;
    z-index: 2;
  }
  
  .bowser {
    position: absolute;
    width: 200px;
    left: 650px;
    top: 400px;
  }